{% extends 'base.html' %}

{% block  title %}
    {{ project.title }}
{% endblock %}


{% block menu %}
    {% if perms.webapp.change_project or project.user == request.user%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:project_update_view' project.pk %}">Редактирование</a>
    </li>
    {% endif %}
    {% if perms.webapp.change_project or project.user == request.user%}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:project_delete_view' project.pk %}">Удаление</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:issue_add_view' project.pk %}">Добавить задачу</a>
    </li>
{% endblock %}

{% block  content %}
    <h1>Проект</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.descriptions }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">Дата начала: {{ project.start_date }}</p>
                    <p class="card-text">Дата окончания: {{ project.end_date | default:" - " }}</p>
                </div>
            </div>
    <h3>Задачи</h3>
    <div class="row row-cols-3">
        {% for issue in project.issues.all %}
            <div class="col mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'webapp:issue_view' issue.pk %}" class="text-success">{{ issue.summary }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Статус: {{ issue.status.title }}</h6>
                    <p class="card-subtitle mb-2 text-body-secondary">Типы:
                            {% for type in issue.types.all %}
                            	{{ type.title }} {% if forloop.last %}.{% else %}, {% endif %}
                            {% endfor %}</p>
                        {% if perms.webapp.update_issue or issue.user == request.user%}
                        <a href="{% url 'webapp:issue_update_view' issue.pk %}" class="card-link">Редактирование</a>
                        {% endif %}
                        {% if perms.webapp.delete_issue or issue.user == request.user%}
                        <a href="{% url 'webapp:issue_delete_view' issue.pk %}" class="card-link">Удаление</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <p>нет задач</p>
        {% endfor %}
    </div>
{% endblock %}
